* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    background: #0E0E0E;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}


.header {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    margin-bottom: 128px;
}

.btn {
    display: inline-block;
    height: 50px;
    border: 1px solid #E4B564;
    background-color: #0E0E0E;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    text-align: center;
    padding: 9px 24px;
    transition: 0.3s;
    cursor: pointer;

}

.btn a {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564; 
    padding-left: 10px;
} 

.btn:hover {
    background-color: #FFFFFF;
    transition: .5s;
}

.btn-small {
    padding: 9px 35px;
}

.head__title {
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 51px;
}

.outdoor {
    margin-bottom: 161px;
}

.outdoor__desc {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 41px;
}

.outdoor__card {
    display: grid;
    grid-template-columns: repeat(6, 217px);
    row-gap: 27px;
    column-gap: 34px;
    grid-auto-rows: 468px;
}

.outdoor__item-1 {
    grid-column: span 2;
    background-color: #634F2C;
}

.outdoor__item-2 {
    grid-column: span 2;
    background-color: #B4A385;
}

.outdoor__item-3 {
    grid-column: span 2;
    background-color: #E4B564;
}

.outdoor__item-4 {
    grid-column: span 3;
    background-color: #635A4A;
}

.outdoor__item-5 {
    grid-column: span 3;
    background-color: #B08C4D;
}

.outdoor__text {
    padding: 220px 0;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}

.own {
    margin-bottom: 364px;
}

.own__card {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 28px 96px 129px 246px;
    grid-gap: 30px;
    margin-top: 94px;
}

.own__item {
    background-color: aquamarine;
}

.own__item-1 {
    grid-row: span 2;
    background-color: #0E0E0E;
}

.own__item-2 {
    grid-row: span 3;
    background-color: #242424;
}

.own__item-3 {
    grid-row: span 1;
    background-color: #1F1F1F;
}

.own__item-4 {
    grid-row: span 3;
    background-color: #0E0E0E;
}

.own__item-5 {
    grid-row: span 4;
    background-color: #1F1F1F;
}

.own__item-6 {
    grid-row: span 2;
    background-color: #E4B564;
}

.own__item-7 {
    grid-row: span 2;
    background-color: #0A0909;;
}

.own__info {
    width: 345px;
    padding-top: 56px;
    padding-left: 52px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.own__info span {
    text-transform: uppercase;
    font-weight: 700;
}

.clients {
    margin-bottom: 239px;
}

.clients__card {
    display: grid;
    grid-template-columns: repeat(3, 486px);
    grid-template-rows: repeat(2, 391px);
    margin-top: 72px;
}

.clients__item-1,
.clients__item-6 {
    background-color: #634F2C;
}

.clients__item {
    text-align: center;
    padding-top: 174px;
}

.clients__item-2 {
    background-color: rgba(232, 210, 171, 0.76);
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients__item-2:first-of-type {
    width: 62px;
    height: 65px;
}

.clients__item-2:nth-of-type(1) {
    width: 139px;
    height: 55px;
    margin-bottom: 16px;
}

.clients__item-2 p {
    width: 326px;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.clients__item-3 {
    background-color: #E4B564;
}

.clients__item-4 {
    background-color: #635A4A;
}

.clients__item-5 {
    background-color: #B08C4D;
}

.clients__box {
    display: flex;
    justify-content: space-between;
}